* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  }

body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100vw;
}

header{
    text-align: center;
}

header, div.form{
    width: 95vw;
    align-self: center;
    margin: 5px 5vw 5px 5vw;
    padding: 1.2vw 1vw;
    background-color: azure;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

input{
    width: 300px;
    height: 29px;
    padding: 3px;
    font-size: 0.9rem;
}

button{
    width: 120px;
    height: 30px;
}

@media (max-width: 768px){
    header, div.form{
        width: 97vw;
        justify-self: center;
        margin: 5px auto 5px auto;
        padding: 5vw 10vw;
    }

    li{
        display: flex;
        flex-direction: column;
    }
}
