* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    color: white;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

header{
    text-align: center;
    height: 27vh;
}

div.form{
    height: 70vh;
}

header, div.form{
    align-self: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
    width: 50vw;
    min-width: 340px;
    max-width: 700px;
    margin: 10px auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

input{
    width: 300px;
    height: 29px;
    padding: 3px;
    font-size: 0.9rem;
}

button{
    width: 120px;
    height: 30px;
}

@media (max-width: 768px){
    li{
        display: flex;
        flex-direction: column;
    }
}
