* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  }

body, li{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
}

header, div.form{
    justify-self: center;
    margin: 5px auto 5px auto;
    padding: 5vw 10vw;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin-top: 15px;
    margin-bottom: 15px;
}

input{
    width: 300px;
    height: 29px;
    padding: 3px;
    font-size: 0.9rem;
}

button{
    width: 120px;
    height: 30px;
}

@media (max-width: 768px){
    header, div.form{
        justify-self: center;
        margin: 5px auto 5px auto;
        padding: 5vw 10vw;
    }
}